@font-face {
    font-family: 'Montserrat';
    src: url('Montserrat-Bold.eot');
    src: url('Montserrat-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Montserrat-Bold.woff2') format('woff2'),
        url('Montserrat-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Montserrat';
    src: url('Montserrat-Regular.eot');
    src: url('Montserrat-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Montserrat-Regular.woff2') format('woff2'),
        url('Montserrat-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Montserrat';
    src: url('Montserrat-ExtraLight.eot');
    src: url('Montserrat-ExtraLight.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Montserrat-ExtraLight.woff2') format('woff2'),
        url('Montserrat-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: 'Montserrat';
    src: url('Montserrat-ExtraBold.eot');
    src: url('Montserrat-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Montserrat-ExtraBold.woff2') format('woff2'),
        url('Montserrat-ExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}
@font-face {
    font-family: 'Montserrat';
    src: url('Montserrat-Thin.eot');
    src: url('Montserrat-Thin.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Montserrat-Thin.woff2') format('woff2'),
        url('Montserrat-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: 'Montserrat';
    src: url('Montserrat-Black.eot');
    src: url('Montserrat-Black.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Montserrat-Black.woff2') format('woff2'),
        url('Montserrat-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: 'Montserrat';
    src: url('Montserrat-Medium.eot');
    src: url('Montserrat-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Montserrat-Medium.woff2') format('woff2'),
        url('Montserrat-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Montserrat';
    src: url('Montserrat-SemiBold.eot');
    src: url('Montserrat-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Montserrat-SemiBold.woff2') format('woff2'),
        url('Montserrat-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'Montserrat';
    src: url('Montserrat-Light.eot');
    src: url('Montserrat-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Montserrat-Light.woff2') format('woff2'),
        url('Montserrat-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}
@font-face{
    font-family:'Proxima Nova';
    src:url(../fonts/ProximaNova-Light.eot);
    src:url(../fonts/ProximaNova-Light.eot?#iefix) format('embedded-opentype'),
    url(../fonts/ProximaNova-Light.woff2) format('woff2'),
    url(../fonts/ProximaNova-Light.woff) format('woff'),
    url(../fonts/ProximaNova-Light.ttf) format('truetype'),
    url(../fonts/ProximaNova-Light.svg#ProximaNova-Light) format('svg');
    font-weight:300;
    font-style:normal
}
@font-face{
    font-family:'Proxima Nova';
    src:url(../fonts/ProximaNova-Regular.eot);
    src:url(../fonts/ProximaNova-Regular.eot?#iefix) format('embedded-opentype'),
    url(../fonts/ProximaNova-Regular.woff2) format('woff2'),
    url(../fonts/ProximaNova-Regular.woff) format('woff'),
    url(../fonts/ProximaNova-Regular.ttf) format('truetype'),
    url(../fonts/ProximaNova-Regular.svg#ProximaNova-Regular) format('svg');
    font-weight:400;
    font-style:normal
}
@font-face{font-family:'Proxima Nova';
        src:url(../fonts/ProximaNova-Bold.eot);
        src:url(../ProximaNova-Bold.eot?#iefix) format('embedded-opentype'),
        url(../fonts/ProximaNova-Bold.woff2) format('woff2'),
        url(../fonts/ProximaNova-Bold.woff) format('woff'),
        url(../fonts/ProximaNova-Bold.ttf) format('truetype'),
        url(../fonts/ProximaNova-Bold.svg#ProximaNova-Bold) format('svg');
        font-weight:700;
        font-style:normal
}
@font-face {
    font-family: 'Futura';
    src: url('../fonts/FuturaNewBold-Obl.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Futura';
    src: url('../fonts/FuturaNewBold-Reg.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Futura';
    src: url('../fonts/FuturaNewBook-Obl.ttf') format('truetype');
    font-style: normal;
    font-weight: 400
}
@font-face {
    font-family: 'Futura';
    src: url('../fonts/FuturaNewBook-Obl.ttf') format('truetype');
    font-style: normal;
    font-weight: 400
}
@font-face {
    font-family: 'Futura';
    src: url('../fonts/FuturaNewDemi-Obl.ttf') format('truetype');
    font-style: normal;
    font-weight: 200
}
@font-face {
    font-family: 'Futura';
    src: url('../fonts/FuturaNewDemi-Reg.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: 'Futura';
    src: url('../fonts/FuturaNewExtraBold-Obl.ttf') format('truetype');
    font-style: normal;
    font-weight: 900
}
@font-face {
    font-family: 'Futura';
    src: url('../fonts/FuturaNewExtraBold-Reg.ttf') format('truetype');
    font-style: normal;
    font-weight: 800
}
@font-face {
    font-family: 'Futura';
    src: url('../fonts/FuturaNewHeavy-Obl.ttf') format('truetype');
    font-style: normal;
    font-weight: 900
}
@font-face {
    font-family: 'Futura';
    src: url('../fonts/FuturaNewHeavy-Reg.ttf') format('truetype');
    font-style: normal;
    font-weight: 800
}
@font-face {
    font-family: 'Futura';
    src: url('../fonts/FuturaNewLight-Obl.ttf') format('truetype');
    font-style: normal;
    font-weight: 600
}
@font-face {
    font-family: 'Futura';
    src: url('../fonts/FuturaNewLight-Reg.ttf') format('truetype');
    font-style: normal;
    font-weight: 200
}
@font-face {
    font-family: 'Futura';
    src: url('../fonts/FuturaNewMedium-Obl.ttf') format('truetype');
    font-style: normal;
    font-weight: 500
}
@font-face {
    font-family: 'Futura';
    src: url('../fonts/FuturaNewMedium-Reg.ttf') format('truetype');
    font-style: normal;
    font-weight: 500
}
@font-face {
  font-family: 'FTN_medium';
  src: url('FTN55.eot');
  src: local('?'), url('../fonts/FTN55.woff') format('woff'), url('FTN55.ttf') format('truetype'), url('FTN55.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'FTN_medium-italic';
  src: url('FTN56.eot');
  src: local('?'), url('../fonts/FTN56.woff') format('woff'), url('FTN56.ttf') format('truetype'), url('FTN56.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'FTN_demi';
  src: url('FTN65.eot');
  src: local('?'), url('../fonts/FTN65.woff') format('woff'), url('FTN65.ttf') format('truetype'), url('FTN65.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'FTN_heavy';
  src: url('FTN75.eot');
  src: local('?'), url('../fonts/FTN75.woff') format('woff'), url('FTN75.ttf') format('truetype'), url('FTN75.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}